.card {
    background-color: #fff;
    height: 50%;
    margin: 80% 5%;
    border-radius: 7px;
    padding: 10%;
    border-right: black solid 5px;
    border-bottom: black solid 5px;
    font-family: 'Cairo', sans-serif;
    padding-bottom: 0%;
    direction: rtl;
}

body {
    background-color: #B0C4DE;
    margin: 0px;
    align-items: center;
    display: grid;
}

h1 {
    text-align: center;
}
