html {
  background-image: url("pexels-philippe-donn-1257860.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
    background-color: #fff;
    height: 50%;
    margin: 80% 5%;
    border-radius: 7px;
    padding: 10%;
    border-right: black solid 5px;
    border-bottom: black solid 5px;
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    text-align: center;
}
